@import "./Font/stylesheet.css";
@import "../style/mixin.scss";

$colorWhite: #fff;

.Header {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;

  a {
    font-family: "Michroma";
  }

  .logo {
    width: 26%;
    margin-bottom: 25px;
    a {
      margin-left: 20px;
      &:hover {
        text-decoration: none;
      }
      img {
        width: 40%;
      }
    }
  }
  .main_nav {
    margin-top: 24px;
    ul {
      margin: 0;
      li {
        list-style: none;
        margin-right: 50px;

        border: none;

        &:hover {
          a {
            color: #000000;
          }
        }

        a {
          text-decoration: none;
          color: $colorWhite;
          cursor: pointer;

          &:focus {
            outline: none;
            outline-offset: 0;
          }
        }
      }
    }
  }

  @include arrow();
}
