@import "./Font/stylesheet.css";
@import "../style/mixin.scss";
@import "../style/media.scss";

.Header {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  justify-content: space-between;

  a {
    font-family: "Michroma";
  }

  .logo {
    margin-bottom: 25px;
    a {
      margin-left: 20px;
      &:hover {
        text-decoration: none;
      }
      img {
        width: 130px;
      }
    }
  }
  .main_nav {
    margin-top: 24px;
    ul {
      margin: 0;
      li {
        list-style: none;
        margin-right: 50px;

        border: none;

        &:hover {
          a {
            color: #000000;
          }
        }

        a {
          text-decoration: none;
          color: #ffffff;
          cursor: pointer;

          &:focus {
            outline: none;
            outline-offset: 0;
          }
        }
      }
    }
  }

  @include arrow();

  @include mediaScreen();

  @media (min-width: 300px) and (max-width: 749px) { 
    .main_nav {
      display: none;
    }

    .BurgerMenu {
      display: block;
    }
  }
}
